@import "mixin";
@import "variables";
@import "./partials/common";
@import "./partials/mobile-menu";
@import "./partials/header";
@import "./partials/animation";
@import "./partials/preloader";
@import "./partials/back_top";
@import "./partials/section_heading";
@import "./partials/button";
@import "./partials/sidebar";



@import "./pages/other";


