.btn_wrapper{
    border-radius: 32px;
    padding: 0px 28px;
    width: max-content;
    height: 48px;
    line-height: 44px;
    box-shadow: inset 2px 0 8px 2px rgba(248, 248, 248, 0.2);
    background: linear-gradient(180deg, #2c2c2c 0%, #282828 100%);
    &.style1 {
        background: linear-gradient(271.8deg, #43CBFF -99.63%, #9708CC 212.68%);
    }
    &.style2 {
        background: transparent;
        border: 1px solid var(--Stroke-Stroke2, #E2E2E2);
        a {
            color: #101010;
        }
    }
    a{
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #fff;
        img{
            margin-right: 6px;
        }
    }
}
.rb_group_button {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}