

/*------------------------------------
		2.7 Offcanvas
----------------------------------*/

.offcanvas__info {
	background: #fff none repeat scroll 0 0;
	border-left: 1px solid  $primary;
	position: fixed;
	right: 0;
	top: 0;
	width: 350px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__logo {
	a {
		img {
			width: 100px;
		}
	}
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;
	.offcanvas__content {
		.text {
			margin-bottom: 20px;
		}

		.theme-btn{
			padding: 15px 28px;
			margin-top: 40px;
			width: 80%;
			text-align: center;
			display: flex;
			justify-content: center;
			span{
				margin-right: 15px;
			}
		}
		.offcanvas__close {
			width: 45px;
			height: 45px;
            text-align: center;
            line-height: 46px;
			border-radius: 50%;
			background-color: $primary;
			
			button{
				background-color: transparent;
				border: none;
				color: $white;
			}
			position: relative;
			z-index: 9;
			cursor: pointer;
            &:hover{
                i{
                    transform: rotate(90deg);
                }
            }
			i {
                font-size: 16px;
                @include transition(0.3s);
			}
		}

		.offcanvas__contact {
			margin-top: 20px;
			h4{
				color: $white;
				font-size: 30px;
			}
			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;
					
					&:not(:last-child){
						margin-bottom: 15px;
					}
					
					.offcanvas__contact-icon {
						margin-right: 20px;
						
					}
					a {
						color: $text_color;
						&:hover {
							color: $primary;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				.btn-read {
					width: 100%;
					padding: 16px 40px;
				}
			}

			.social-icon {
				margin-top: 40px;
                gap: 10px;

				a{
					display: inline-block;
					width: 42px;
					height: 42px;
					border-radius: 100%;
					line-height: 42px;
					color: $text_color;
					border: 1px solid #414141;
					text-align: center;
					@include transition(0.3s);
					&:hover {
						color: $white;
						background-color: $primary;
						border: none;
						@include transition(.3);
					}
				}
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}



/*------------------------------------
      3.4 Mobile menu
----------------------------------*/


.mean-container {
  a.meanmenu-reveal {
    display: none !important;
  }

  .mean-nav {
    background: none;
    margin-top: 0;

    & > ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;
      display: block !important;

      .homemenu-items {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        @include xl {
          flex-wrap: wrap;
        }

        .homemenu {
          position: relative;

          @include xl {
            max-width: 300px;
            text-align: center;
            margin: 0 auto;
            border: 1px solid #e6e6e6;
            padding: 10px;
          }

          .homemenu-thumb {
            position: relative;

            &::before {
              background: linear-gradient(
                to bottom,
                rgba(99, 92, 92, 0) 0%,
                #252527 100%
              );
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              overflow: hidden;
              opacity: 0;
              @include transition(0.3s ease-in-out);
              content: "";
            }

            &:hover {
              &::before {
                visibility: visible;
                opacity: 1;
              }

              .demo-button {
                opacity: 1;
                visibility: visible;
                margin-top: 0;
              }

              & .homemenu-btn {
                opacity: 1;
                visibility: visible;
                bottom: 50%;
                transform: translateY(50%);
              }
            }

            img {
              width: 100%;
            }
          }

          .homemenu-title {
            text-align: center;
            margin: 15px auto;
            display: inline-block;
            font-size: 16px;
          }
        }
      }

      li {
        a {
          width: 100%;
          padding: 10px 0;
          color: $text_color;
          font-size: 16px;
          line-height: 1.5;
          font-weight: 500;
          text-transform: capitalize;
          border: none;
          @include transition(0.3s);
          border-bottom: 1px solid #00000036 !important;

          &:last-child {
            border-bottom: 0;
          }

          &:hover {
            color: $primary;
          }
        }

        a.mean-expand {
          margin-top: 5px;
          padding: 0 !important;

          & > i {
            display: inline-block;
            font-size: 18px;
          }

          &.mean-clicked i {
            transform: rotate(90deg);
            @include transition(0.3s);
          }
        }

        & > a > i {
          display: none;
        }

        .mega-menu li a {
          height: 200px;
          width: 100%;
          padding: 0;
          border-top: 0;
          margin-bottom: 20px;
        }

        &:first-child > a {
          border-top: 0;
        }
      }
    }
  }

  .mean-bar {
    padding: 0;
    min-height: auto;
    background: none;
    margin-top: 20px;
  }
}
