.tk_dashboard_area{
    .tk_dashboard_sidebar{
        border-radius: 24px;
        padding: 8px 16px 16px;
        width: 100%;
        // height: 100%;
        background: #fff;
        ul{
            li{
                a{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: #727272;
                    padding: 12px;
                    display: block;
                    &.active{
                        // background: linear-gradient(316deg, #43cbff 0%, #9708cc 100%);
                        background: linear-gradient(271.8deg, #43CBFF -99.63%, #9708CC 212.68%);
                        color: #fff;
                    }
                     &.menu-item-has-children{
						position: relative;
						&::after{
							content: "\f107";
							font-family: "FontAwesome";
							position: absolute;
							top: 50%;
							color: #727272;
							display: inline-block;
							@include transformY(-50%);
							right: 10px;
							@include transition(0.4s);
							@include md {
								font-size: 12px;
							}
						}
						
						
					}
                    img{
                        margin-right: 12px;
                    }
                }
                .tk_side_dropdown{
                    background-color: pink;
                    max-height: 0px;
                    opacity: 0;
                    visibility: hidden;
                    overflow: hidden;
                    &.active{
                        visibility: visible;
                        opacity: 1;
                        max-height: 500px;
                        // transform: max-width 0.5s;
                        // -webkit-transform: max-width 0.5s;
                        // -moz-transform: max-width 0.5s;
                        // -ms-transform: max-width 0.5s;
                        // -o-transform: max-width 0.5s;
}
                    
                }
            }
        }
    }


}