.rb_ecommerce_area {
    max-width: 1008px;  
    padding: 32px;
    border: 1.5px solid #FDFDFD;
    background: var(--Backgrounds-surface2, #FDFDFD);
    border-radius: 24px;
    box-shadow: 0px 6px 4px -4px #0808080D;
    @include sm {
      padding: 20px;
      border-radius: 20px;
    }
    .rb_heading {
      padding-bottom: 20px;
      h3 {
        color: var(--Text-Primary, #101010);
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        padding-bottom: 10px;
        @include sm {
          font-size: 20px;
        }
      }
      p {
        color: #7B7B7B;
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        @include sm {
          font-size: 14px;
        }
      }
    }

    .rb_section_border {
      background: #F3F4F7;
      border: 1px solid #E2E2E2;
      border-radius: 14px;
      padding: 32px;
      @include sm {
        padding: 16px;
      }
      &.style_1 {
          padding-bottom: 85px;
      }
      .rb_title {
        color: #101010;
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        padding-bottom: 15px;
      }
      .rb_title2 {
        color: #101010;
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        vertical-align: middle;
        padding-bottom: 15px;
      }
      .rb_desc {
        color: #727272;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        padding-top: 10px;
      }
      .rb_section_border2 {
        border: 1px solid #E2E2E2;
        border-radius: 14px;
        padding: 20px;
        @include sm {
          padding: 16px;
        }        
      }
      .rb_section_border3 {
        background: #FFFFFF;
        border: 1px solid #7275F84D;
        border-radius: 14px;
        padding: 20px;
        @include sm {
          padding: 16px;
        }        
      }
    }
    .rb_thumb {
      img {
        width: 100%;
      }
    }
    .rb_para {
      color: #7B7B7B;
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .rb_input_form {
        background: #FFFFFF;
        border: 1px solid #7275F84D;
        padding: 32px;
        border-radius: 14px;
    }
    .alert_list {
        display: flex;
        align-items: start;
        gap: 10px;
        padding: 20px;
        border-radius: 14px;
        background: #7275F80D;
        border: 1px solid #7275F84D;
        h5 {
            color: #7B7B7B;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0%;
            vertical-align: middle;
            a {
                color: #D71E1E;
            }

        }
        &.style_1 {
          padding: 12px 20px;
          border-radius: 100px;
          @include sm {
            border-radius: 14px;
          }
        }
        &.style_2 {
          display: flex;
          flex-direction: column;
          h4 {
            color: #192135;
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0%;
          }
          p {
            color: #7B7B7B;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
          }
          h6 {
            color: #192135;
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0%;
            vertical-align: middle;
          }
          .rb_list {
            ul {
              list-style-type: disc;
              padding-left: 22px;
              li {
                color: #7B7B7B;
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0%;
                vertical-align: middle;
                padding-bottom: 10px;
                span {
                  color: #192135;
                }
              }
            }
            &.style_1 {
              ul {
                list-style: none;
                padding-left: 0;
              }
            }
          }
          .rb_para2 {
            color: #7B7B7B;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0%;
            vertical-align: middle;
          }
        }
        &.style_3 {
          display: flex;
          flex-direction: column;
          background: #FFFFFF;

          h4 {
            color: #192135;
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0%;
          }
          .rb_list {
            ul {
              list-style-type: disc;
              padding-left: 22px;
              li {
                color: #7B7B7B;
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0%;
                vertical-align: middle;
                padding-bottom: 10px;
                span {
                  color: #192135;
                }
              }
            }
            &.style_1 {
              ul {
                list-style: none;
                padding-left: 0;
              }
            }
          }

        }
        &.style_4 {
          display: flex;
          flex-direction: column;
          background: #FFFAF3;
          border: 1px solid #F59F004D;

          h4 {
            color: #192135;
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0%;
          }
          .rb_list {
            ul {
              list-style-type: disc;
              padding-left: 22px;
              li {
                color: #7B7B7B;
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0%;
                vertical-align: middle;
                padding-bottom: 10px;
                span {
                  color: #192135;
                }
              }
            }
            &.style_1 {
              ul {
                list-style: none;
                padding-left: 0;
              }
            }
          }
        }

    }
    .rb_shiping_container {
      .country_text {
        color: #101010;
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        vertical-align: middle;
      }
      .add_rule {
        color: #7275F8;        
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        vertical-align: middle;
      }
      .delete_rule {
        color: #FE0000;        
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        vertical-align: middle;
        text-decoration: underline;
      }
      .rb_shipping_card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #E2E2E2;        
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 20px;
        padding-bottom: 14px;
        padding-left: 20px;
        gap: 20px;
        opacity: 1;
        border-width: 1px;
        color: #727272;
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        .title {
          color: #101010;
          font-family: Inter;
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0.25%;

        }

      }
    }
}

.rb_table {
  .currency-box {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    @include lg {
        width: 992px;
    }
  }

  .currency-header {
    background-color: #f3f4f6;
    padding: 12px 20px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1.5fr 1fr 0.5fr;
    align-items: center;
    color: #7B7B7B;
    border-bottom: 1px solid #e5e7eb;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25%;
    text-transform: uppercase;
  }

  .currency-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1.5fr 1fr 0.5fr;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    .code {
      width: 48px;
      height: 31px;
    }
    .symbol {
      width: 72px;
      height: 31px;
    }
    .decimal {
      width: 170px;
      height: 31px;
    }
    .edate {
      width: 120px;
      height: 31px;
    }
  }

  .currency-row:last-child {
    border-bottom: none;
  }

  .currency-row input,
  .currency-row select {
    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 6px;
    padding: 6px 6px;
    color: #7B7B7B;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25%;
  }

  .currency-row input:focus,
  .currency-row select:focus {
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 0 0.15rem rgba(168, 85, 247, 0.25);
  }

  .radio-gradient input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    padding: 6px 6px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(271.8deg, #43CBFF -99.63%, #9708CC 212.68%) border-box;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .radio-gradient input[type="radio"]:checked {
    background: linear-gradient(271.8deg, #43CBFF -99.63%, #9708CC 212.68%);
    border: 3px solid white;
    box-shadow: 0 0 0 2px rgba(151, 8, 204, 0.5);
  }

  .btn-delete {
    width: 34px;
    height: 34px;
    gap: 12px;
    opacity: 1;
    border-radius: 4px;
    background: #FE0000;
    border: none;
  }

  .btn-delete:hover {
    background-color: #cc0000;
  }
}

.upload-box {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    background-color: #f5f6fa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box .camera_icon i {
    font-size: 24px;
    color: #727272;
}


.content_text {
  padding-bottom: 14px;
  h4 {
    color: #101010;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.code-wrapper {
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  background: #FFFFFF;
  .code-textarea {
      width: 100%;
      height: 362px;
      border: none;
      resize: none;
      color: #727272;
      background: #FFFFFF;
      font-family: Inter;
      padding: 15px;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0%;
      border-radius: 14px;
      overflow-y: scroll;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      -o-border-radius: 14px;
  }
  
  .code-textarea:focus {
      outline: none;
  }
  
  .code-textarea::-webkit-scrollbar {
      width: 8px;
  }
  
  .code-textarea::-webkit-scrollbar-thumb {
      background: #C1C1C1;
      border-radius: 10px;
  }
}
.learn_more_link {
  color: #7B7B7B;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  a {
    color: #7275F8;
  }
}

.rb_table2 {
  .tax-box {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    @include lg {
        width: 992px;
    }
  }

  .tax-header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    text-align: center;

    background-color: #F3F4F7;
    padding: 12px 20px;
    border-radius: 10px;

    font-weight: 600;
    color: #7B7B7B;
    border: 1.5px solid #7B7B7B1A;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25%;
    text-transform: uppercase;
  }

  .tax-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    text-align: center;
    margin: 12px 0;
    padding: 8px 20px;
    border-radius: 10px;
    color: #7B7B7B;
    border: 1px solid #f0f0f0;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.25%;
  }

  .btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 34px;
    height: 34px;
    gap: 12px;
    opacity: 1;
    border-radius: 4px;
    background: linear-gradient(271.8deg, #43CBFF -99.63%, #9708CC 212.68%);
    border: none;
  }
  .btn-delete {
    width: 34px;
    height: 34px;
    gap: 12px;
    opacity: 1;
    border-radius: 4px;
    background: #FE0000;
    border: none;
  }

  .btn-delete:hover {
    background-color: #cc0000;
  }
}

// Simple data
.rb_simple_data {  
  .rb_title {
    color: #101010;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-bottom: 10px;
  }
  .sample-data-bar {
      border-radius: 50px;
      background: #fff;
      width: 100%;
      padding: 12px 20px;
      height: 48px;
      border: 1px solid var(--Stroke-Stroke2, #E2E2E2);
      background: $white;

      color: #7275F8;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;       
      cursor: pointer;
  }
  
  .sample-data-bar:hover {
      background: #f8f9ff;
  }
  
  .sample-text {
      font-size: 14px;
      color: #5b63ff; 
      font-weight: 500;
  }
  
  .test-webhook-btn {
    height: 46px;
    padding: 12px 22px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(271.8deg, #43CBFF -99.63%, #9708CC 212.68%);
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .test-webhook-btn:hover {
      opacity: 0.9;
  }
}

.rb_text_area {
  .rb_title {
    color: #101010;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-bottom: 5px;
  }
  .rb_desc {
    color: #7B7B7B;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}