.rb_setting_listing {
    padding: 32px;
    border: 1.5px solid #FDFDFD;
    background: var(--Backgrounds-surface2, #FDFDFD);
    border-radius: 24px;
    box-shadow: 0px 6px 4px -4px #0808080D;
    .rb_setting_title {
        padding-bottom: 20px;
        h3 {
            color: #101010;
            font-family: Inter;
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0%;
            vertical-align: middle;
        }
    }
    .setting_item {
        display: flex;
        align-items: center;
        background: #F3F4F7;
        height: 80px;
        gap: 10px;
        opacity: 1;
        border-radius: 50px;
        padding-right: 12px;
        padding-left: 16px;
        transition: background 0.4s ease; 

        .setting_icon {
            width: 48;
            height: 48;
            gap: 10px;
            opacity: 1;
            border-radius: 64px;
            padding: 12px;
            background: #FFFFFF;
        }
        .setting_info {
            flex: 1;
            min-width: 0; 
            h4 {
                color: #101010;
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0%;
                vertical-align: middle;
                padding-bottom: 3px;
            }
            p {
                color: #7B7B7B;
                font-family: Inter;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.25%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                width: 100%;
                margin: 0;
            }
        }
        &:hover {
            background: linear-gradient(271.8deg, #43CBFF -99.63%, #9708CC 212.68%);
            transition: background 0.4s ease; 
            .setting_info {
                h4 {
                    color: #FFFFFF;
                }
                p {
                    color: #FFFFFFB2;
                }
            }
        }
    }
}