.rb_social_login {
    padding: 32px;
    border: 1.5px solid #FDFDFD;
    background: var(--Backgrounds-surface2, #FDFDFD);
    border-radius: 24px;
    .rb_section_border {
        background: #F3F4F7;
        border: 1px solid #E2E2E2;
        border-radius: 14px;
        padding: 32px;
        &.style_1 {
            padding-bottom: 85px;
        }
    }
    .rb_input_form {
        background: #FFFFFF;
        border: 1px solid #7275F84D;
        padding: 32px;
        border-radius: 14px;
    }
    .alert_list {
        display: flex;
        align-items: start;
        gap: 10px;
        padding: 20px;
        border-radius: 14px;
        background: #7275F80D;
        border: 1px solid #7275F84D;
        h5 {
            color: #7B7B7B;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0%;
            vertical-align: middle;
            a {
                color: #D71E1E;
            }

        }
    }
    .rb_check_label {
        label {
            color: #101010;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0.25%;

        }
        p {
            color: #7B7B7B;
            a {
                color: #7275F8;
            }

        }
    }

}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Input Form
.common_input {
    position: relative;
    .form-group {
        label {
            display: block;
            color: #101010;
            font-family: Inter;
            font-size: 16px;
            font-style: Medium;
            font-weight: 500;
            line-height: 100%; 
            letter-spacing: 0.25%;
            margin-bottom: 13px;
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="date"],
        input[type="time"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: 100%;
            padding: 12px 20px;
            height: 48px;
            border-radius: 10px;
            border: 1px solid var(--Stroke-Stroke2, #E2E2E2);
            background: $white;

            color: #727272;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; 
            &::placeholder{
                color: #727272;
            }
            &:focus {
                outline: none;
            }
            @include xxs {
                height: 46px;
            }
        }
        textarea {
            height: 166px;
            resize: vertical;
            @include xxs {
                height: 134px;
            }
        }
        input[type="date"] {
            cursor: pointer;
            &::-webkit-calendar-picker-indicator {
                opacity: 0;
                display: none;
                -webkit-appearance: none;
            }
            &::-webkit-inner-spin-button,
            &::-webkit-clear-button {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }
        .nice-select,
        select {
            width: 100%;
            padding: 14px 20px;
            height: 54px;
            border-radius: 10px;
            border: 1px solid rgba(13, 44, 80, 0.10);
            background: #FFF;

            color: #727272;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
            @include xxs {
                height: 46px;
                padding: 9px 20px;
            }
        }
        .nice-select:after {
            width: 9px;
            height: 9px;
            right: 20px;
        }
        select:focus {
            outline: none;
        }
    }
}

// icon use into input field
.input_icon_wrap {
  position: relative;
  .input_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .input_textarea_icon {
    position: absolute;
    top: 10%;
    left: 20px;
    transform: translateY(-10%);
    pointer-events: none;
    @include xxs {
        top: 12%;
    }
  }
  .input_select_icon {
    position: absolute;
    left: 20px;
    transform: translateY(50%);
    pointer-events: none;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea
  {
    padding-left: 50px !important;
  }
  .nice-select,
  select {
    padding-left: 50px !important;
  }
}

    
